/* FORMULARIO */

body{
    background-color: #525252;
    background: url(http://www.commentnation.com/hotlinks/black_diagonal_stripes_background_seamless.gif);
}
.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #E5AD15;
}

.panel-heading {
    color: #fff;
}
